@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700");

body {
  margin: 12px;
  color: #333;
  font-family: "Lato", Verdana, Arial, sans-serif;
  line-height: 1.6;
  background-color: #ddd;
}

header {
  font-family: "Lobster", cursive;
}

header h1,
header h2 {
  font-size: 4rem;
  line-height: 1;
  margin: 8px 0;
  color: #600;
}

header h2 {
  font-size: 2rem;
  border-bottom: 1px dotted #600;
  padding-bottom: 0.5rem;
}

.nav {
  list-style: none;
  padding: 0;
  position: absolute;
  right: 0;
  top: 24px;
  display: flex;
}
.nav li {
  /* display: inline-block; */
  margin-right: 10px;
}
.nav a {
  color: #fff;
  text-decoration: none;
  padding: 4px;
  display: block;
  background-color: #600;
  transition: background-color 0.5s cubic-bezier(0.91, -0.02, 0, 0.99);
}
.nav a:hover {
  color: #222;
  background-color: #f0dfb4;
}

.p-review .t-review a,
.p-cuisines .t-cuisine a,
.p-delivery .t-delivery a,
.p-recipes .t-recipe a {
  color: #600;
  background: #f0dfb4;
}

aside {
  position: absolute;
  top: 200px;
  left: 24px;
  width: 180px;
  background-color: #f0dfb4;
  padding: 6px;
  border: 1px solid #600;

  font-size: 0.875rem;
  box-shadow: 3px 3px 3px #ddd;
  border-radius: 4px;
}

aside th {
  text-align: right;
}

aside ul {
  list-style: none;
  margin: 0.5rem;
  padding: 0;
}

article {
  margin: 0 20px 0 240px;
}

#wrapper {
  max-width: 840px;
  margin: 0 auto;
  /* border: 1px solid #999; */
  position: relative;
  box-shadow: 0px 0px 6px 2px #aaa;
  background-color: #fff;
  padding: 1rem;
}

blockquote {
  float: right;
  width: 40%;
  font-size: 24px;
}
article img {
  float: right;
}

blockquote::before {
  content: "“";
  font-size: 4rem;
  font-family: serif;
  color: #333;
  line-height: 0.1em;
  vertical-align: -0.4em;
  color: #600;
}

h2 + p::first-line {
  font-weight: bold;
}

a {
  color: #600;
}

.popover {
  padding: 1rem;
  width: 300px;
  height: 225px;
  background: #fff;
  border: 2px solid #600;
  border-radius: 4px;
  position: fixed;
  top: calc(50% - 100px);
  left: calc(50% - 150px);
  display: none;
}

.showme .popover {
  display: block;
}

.showme #wrapper {
  filter: blur(4px) grayscale(100%) opacity(50%);
}

@media all and (max-width: 800px) {
  body {
    margin: 0;
  }
  header h1 {
    padding-top: 2rem;
  }
  article {
    margin-left: 0;
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
  }
  .nav li {
    margin: 0;
    flex-grow: 1;
  }
  .nav li a {
    border-radius: 0;
  }
  aside {
    position: static;
    float: none;
    margin-right: 20px;
    width: 100%;
  }
  blockquote {
    width: 100%;
    float: none;
    margin: 0;
  }
  img {
    width: 100%;
  }
}

@media print {
  * {
    display: none !important;
    color: red;
  }
}
